
.list_page_image {

}

.header {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}


.main_item_wrapper {
    margin: 10px 0;
    width: 100%;
    border: 1px solid;
}


.item {
    display: flex;
    flex-direction: column;
    margin: 15px 5px;
}

/*Any*/
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}



